<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="A Schjoneman">
        <title>DavesList | Some fancy slogan here</title>
        <link href="../davesList/website/static/sign-up.css" rel="stylesheet" type="text/css">
    </head>
    <body id = "top">
         <!--menu and header go on every page-->
       
 <header><img src="DaveListHeader.jpg" alt="Dave's List"></header>
 <nav>
     <!--drop down menu navigation-->
     <div class="navbar">
         <div class="DropMenu">
             <button class="MenuBtn">Menu
             </button>
             
         <div class="Drop-Menu">
                 <a href="#">Sign-in</a>
                 
                 <br>
                 <a href="#">Edit Profile</a>
                 <br>
                 <a href="#">Check order status</a>
                 <br>
                 <a href="#">Link 1</a>
                 

         </div>
         </div>
         

         <div class="DropSell">
             <button class="SellBtn">Sell
             </button>
         <div class="Drop-Sell">
             <a href="">Get started</a>
             <br>
             <a href="">Create a sale posting</a>
             <br>
             <a href="">Check your current postings</a>
         </div>
         </div>
     <!--search bar-->
     <!--search bar will have form function for searching site, currently not live-->
     <div class = "search-bar">
         <label for="Search bar"> Search </label>
         <input type="Search-entry-text" id = "Search-entry-text" name = "Search-entry-text"size="50" maxlength="150"/>
         <input type="submit" name="submit" value="Submit"/>

     </div>

 </nav>

 <!--sign-up form-->
 <div class="container">
     <form action = "" method = "POST">
         <h1>Welcome!</h1>
         <h2>Let's get your account set up</h2>

         <p>First Name: 
             <input type="text" name="firstName" size="15" maxlength="60"/>
             Last Name: 
             <input type="text" name="lastName" size="15" maxlength="60"/>
         </p>
         <p>
             Email address
             <input type="text" name="emailAdd" size="46" maxlength="255"/>
         </p>
         <p>
             Profile Name
             <input type="text" name="username" size="47" maxlength="45"/>
         </p>
         <br>
         <p>Street 1
             <input type="text" name="street1" size="53" maxlength="60"/>

         </p>
         <p>Street 2
             <input type="text" name="street2" size="53" maxlength="60"/>

         </p>
         <p>City  
             <input type="text" name="town" size="40" maxlength="40"/>
             State
             <input type="text" name="state" size="6" maxlength="2"/>

         </p>
         <p>
             Zip Code
             <input type="text" name="zipCode" size="10" maxlength="10"/>
         </p>
         <br>
         <p>
             Type Password
             <input type="text" name="password" size="46" maxlength="10"/>
         </p>
         <p>
             Repeat Password
             <input type="text" name="passwordRepeat" size="43" maxlength="10"/>
         <input type="Submit" name="Submit" value="Submit"/>
         </p>
         </form>
         
         <footer>
             <!--Site map-->
             <h4>Site map</h4>
             <div id="site-menu">
                 
     
                     <table id = "site-menu">
                         <tr>
                             <th scope="col"><h5>Buyers and Customers</h5></th>
                             <th scope="col"><h5>Sellers and Vendors</h5></th>
                             <th scope="col"><h5>Need help?</h5></th>
                         </tr>
                         <tr>
                             <td><a href="../profile">My Profile</a><br></td>
                             <td><a href="/sign-in">Login</a><br></td>
                             <td><a href="#">FAQS</a><br></td>
                         </tr>
                         <tr>
                             <td><a href="#">My Orders</a><br></td>
                             <td><a href="../profile">My Profile</a><br></td>
                             <td><a href="#">Contact Information</a><br></td>
                         </tr>
                         <tr>
                             <td><a href="#">Track my Orders</a><br></td>
                             <td><a href="#">My Sales</a><br></td>
                             <td><a href="#">Returns and Refunds</a><br></td>
                         </tr>
                         <tr>
                             <td><a href="#">My rewards</a><br></td>
                             <td><a href="#">Current Invoices</a><br></td>
                             <td> <a href="#">Customer Service</a><br></td>
                         </tr>
                         <tr>
                             <td>
                                 <a href="#">My payment methods</a><br>
                                 <td><a href="#">My pending payments</a><br></td>
                             </td>
                         </tr>
                         <tr>
                             <td></td>
                             <td><a href="#">Customer messages</a><br></td>
                         </tr>
                         
                     </table>
                
             </div>            
             <!--copy right-->               
             <p>&copy; 2021 DavesList.com</p>
         </footer>
     </html>
