<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="A Schjoneman">
        <title>DavesList | Some fancy slogan here</title>
        <link href="style.css" rel="stylesheet" type="text/css">
    </head>
    <body id = "top">

        <header>DavesList...coming soon to a webpage near you.</header>
        <!--Maybe add an image in place of the header for the design name for DavesList...make it an active link that brings back to the homepage.-->

        <nav>
            <a href="../">Menu</a>
            <a href='#'>Sell</a>
            <a href="/sign_in">Login</a>
            
            <a href='#'>Contact Us</a>
            <a href='#'>FAQs</a>


            
            <label for="Search bar"> Search </label>
            <input type="Search-entry-text" id = "Search-entry-text" name = "Search-entry-text"size="50" maxlength="150"/>
            <input type="submit" name="submit" value="Submit"/>

            <!--Search bar function should go in the same row as the hyperlinked pages-->
        </nav>
        <div class="container">
        <form class="sign_in" action = "" method = "POST">
            <h1>Welcome!</h1>
            <p>Username: 
                <input type="text" name="username" size="15" maxlength="30"/>

            </p>
            <p>

                Password: 
                <input type="password" name="password" size="15" maxlength="30"/>
            <input type="submit" name="submit" value="Submit"/>
            </p>
        
            <p>Forgot your <a href="../forgot-username">username?</a></p>
            <p>Forgot your <a href="../forgot-password">password?</a></p>

        </form>
        <form method = "POST" action = "/home">
            {{ form.recaptcha }}
        </form>
        </div>
        <div class="container">
        <form class="sign-up">
            <p class="welcome">
                Want to start an account?
                <a href="../sign-up">Sign up here</a>
            </p>

        </form>
    </div>

    </body>
    <footer>
        <h4>Site map</h4>
            <div id="site-menu">
                <span id="column-menu">
                
                <table>
                    <tr>
                    <th scope="col"><h5>Buyers and Customers</h5></th>
                    <th scope="col"><h5>Sellers and Vendors</h5></th>
                    <th scope="col"><h5>Need help?</h5></th>
                </tr>
                    
                    <tr>
                        <td><a href="../profile">My Profile</a><br></td>
                        <td><a href="/sign-in">Login</a><br></td>
                        <td><a href="#">FAQS</a><br></td>
                        
                    
                    </tr>
                    <tr>
    
                        <td><a href="#">My Orders</a><br></td>
                        <td><a href="../profile">My Profile</a><br></td>
                        <td><a href="#">Contact Information</a><br></td>
                        
                    </tr>
                    <tr>
                        <td><a href="#">Track my Orders</a><br></td>
                        <td><a href="#">My Sales</a><br></td>
                        <td><a href="#">Returns and Refunds</a><br></td>
    
                    </tr>
                    <tr>
    
                        <td>
                            <a href="#">My rewards</a><br>
                        </td>
                        <td><a href="#">Current Invoices</a><br></td>
                        <td> <a href="#">Customer Service</a><br></td>
                    </tr>
                    <tr>
                        <td>
                            <a href="#">My payment methods</a><br>
                            <td><a href="#">My pending payments</a><br></td>
                        </td>
                    </tr>
                        <td></td>
                        <td><a href="#">Customer messages</a><br></td>
                    <tr>
                        
                    </tr>
                    
                    
                    
                    
                </th>
                    
                </table>
                
    
                </span>
                    
    
    
    
    
    
            </div>
            
            <p>&copy; 2021 DavesList.com</p>
    

</html>