<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="A Schjoneman">
        <title>DavesList | Some fancy slogan here</title>
        <link href="../static/style.css" rel="stylesheet" type="text/css">
    </head>
    <body id = "top">


        <header><img src="../static/DaveListHeader.jpg" alt="Dave's List"></header>
 <nav>
     <!--drop down menu navigation-->
     <div class="navbar">
         <div class="DropMenu">
             <button class="MenuBtn">Menu
             </button>

         <div class="Drop-Menu">
                 <a href="/sign-in">Sign-in</a>

                 <br>
                 <a href="/profile">Edit Profile</a>
                 <br>
                 <a href="#">Check order status</a>
                 <br>
                 <a href="#">Link 1</a>


         </div>
         </div>


         <div class="DropSell">
             <button class="SellBtn">Sell
             </button>
         <div class="Drop-Sell">
             <a href="/ItemListings">Get started</a>
             <br>
             <a href="/ItemListings">Create a sale posting</a>
             <br>
             <a href="/ViewListing">Check your current postings</a>
         </div>
         </div>
     <!--search bar-->
     <!--search bar will have form function for searching site, currently not live-->
     <div class = "search-bar">
         <label for="Search bar"> Search </label>
         <input type="Search-entry-text" id = "Search-entry-text" name = "Search-entry-text"size="50" maxlength="150"/>
         <input type="submit" name="submit" value="Submit"/>

     </div>

 </nav>
       

        <h1> My Profile</h1>

        <form class="My Profile" method="GET, POST">
            <p> First Name:<label id="requiredEntry">*</label>
                <input type = "text" id="firstName" name = "firstName" maxlength="60" required>
             </p>
            <p> Last Name:<label id="requiredEntry">*</label>
                 <input type="text" id = "lastName" name="lastName" size="15" maxlength="60" required/>
             </p>
             <p>
                 Email address <label id="requiredEntry">*</label>
                 <input type="text" name="emailAdd" size="46" maxlength="255" required/>
             </p>
             <p>
                 Username <label id="requiredEntry">*</label>
                 <input type="text" name="username" size="47" maxlength="45" required/>
             </p>
             <p>Phone number 
                 <input type = "text" name = "phone" size = "13" maxlength = "15" placeholder = "(xxx) xxx - xxxx">
             </p>
             <br>
             <h2>Billing Address</h2>
             <p>Street 1 <label id="requiredEntry">*</label>
                 <input type="text" name="billingStreet1" size="53" maxlength="60"required/>
    
             </p>
             <p>Street 2
                 <input type="text" name="billingStreet2" size="53" maxlength="60"/>
    
             </p>
             <p>City <label id="requiredEntry">*</label>
                 <input type="text" name="billingTown" size="40" maxlength="40" required/>
    
                 State <label id="requiredEntry">*</label>
                 <input type="text" name="billingState" size="6" maxlength="2" required/>
    
             </p>
             <p>
                 Zip Code <label id="requiredEntry"> * </label>
                 <input type="text" name="billingZipCode" size="10" maxlength="10"required/>
             </p>
             <p>Country <label id="requiredEntry">*</label>
                <input type="text" name="billingCountry" size="10" maxlength="25"required/>
             </p>
             
             <h2 alt = "shipping address">Shipping Address</h2>
             <br>
             
             
         <p>Click here if you'd like to add a shipping address
             <input type="checkbox" id="shippingCheck" onclick="shipFunction()">
         </p>
                 
    
                 <p id="shippingAddr" style="display:none">
                    
                        
                        <br>Street 1
                            <input type="text" name="shippingStreet1" size="53" maxlength="60"/>
                        <br>
                        <br>
                        Street 2
                            <input type="text" name="shippingStreet2" size="53" maxlength="60"/>
                        <br>
                        <br>
                        City
                            <input type="text" name="shippingTown" size="40" maxlength="40"/>
                            State
                            <input type="text" name="shippingState" size="6" maxlength="2"/>
               
                        <br>
                        <br>
                            Zip Code
                            <input type="text" name="shippingZipCode" size="10" maxlength="10"/>
                        
                    
                    </p>
                    <script>
                        function shipFunction() {
                          var checkBox = document.getElementById("shippingCheck");
                          var text = document.getElementById("shippingAddr");
                          if (checkBox.checked == true){
                            text.style.display = "block";
                          } else {
                             text.style.display = "none";
                          }
                        }
                    </script>

                    <br>
                        
                    <p>
                        Type Password <label id="requiredEntry">*</label>
                        <input type="text" name="password" size="46" maxlength="64" required/>
                    </p>
                    <p>
                        Repeat Password <label id="requiredEntry">*</label>
                        <input type="text" name="passwordRepeat" size="43" maxlength="64" required/>
                    <input type="Submit" name="Save changes to Profile" value="Edit Profile"/>
                    </p>
                    <p>
                    <label id="requiredEntry">* Required field</label>
                    </p>

</form>

            </form>
    </body>

    <footer>
        <h4>Site map</h4>
            <div id="site-menu">
                <span id="column-menu">

                <table>
                    <tr>
                    <th scope="col"><h5>Buyers and Customers</h5></th>
                    <th scope="col"><h5>Sellers and Vendors</h5></th>
                    <th scope="col"><h5>Need help?</h5></th>
                </tr>

                    <tr>
                        <td><a href="/profile">My Profile</a><br></td>
                        <td><a href="../sign-in">Login</a><br></td>
                        <td><a href="#">FAQS</a><br></td>


                    </tr>
                    <tr>

                        <td><a href="#">My Orders</a><br></td>
                        <td><a href="/profile">My Profile</a><br></td>
                        <td><a href="#">Contact Information</a><br></td>

                    </tr>
                    <tr>
                        <td><a href="#">Track my Orders</a><br></td>
                        <td><a href="#">My Sales</a><br></td>
                        <td><a href="#">Returns and Refunds</a><br></td>

                    </tr>
                    <tr>

                        <td>
                            <a href="#">My rewards</a><br>
                        </td>
                        <td><a href="#">Current Invoices</a><br></td>
                        <td> <a href="#">Customer Service</a><br></td>
                    </tr>
                    <tr>
                        <td>
                            <a href="#">My payment methods</a><br>
                            <td><a href="#">My pending payments</a><br></td>
                        </td>
                    </tr>
                        <td></td>
                        <td><a href="#">Customer messages</a><br></td>
                    <tr>

                    </tr>




                </th>

                </table>


                </span>






            </div>

            <p>&copy; 2022 DavesList.store</p>
    
        </footer>
    </html>