<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="A Schjoneman">
        <title>DavesList | Some fancy slogan here</title>
        <link href="/static/style.css" rel="stylesheet" type="text/css">
    </head>

    <body id = "top">
         <!--menu and header go on every page-->

 <header><img src="/static/DaveListHeader.jpg" alt="Dave's List"></header>
 <nav>
     <!--drop down menu navigation-->
     <div class="navbar">
         <div class="DropMenu">
             <button class="MenuBtn">Menu
             </button>

         <div class="Drop-Menu">
                 <a href="../sign-in">Sign-in</a>

                 <br>
                 <a href="profile">Edit Profile</a>
                 <br>
                 <a href="#">Check order status</a>
                 <br>
                 <a href="#">Link 1</a>


         </div>
         </div>


         <div class="DropSell">
             <button class="SellBtn">Sell
             </button>
         <div class="Drop-Sell">
             <a href="/ItemListings">Get started</a>
             <br>
             <a href="/ItemListing">Create a sale posting</a>
             <br>
             <a href="/ViewListing">Check your current postings</a>
         </div>
         </div>
     <!--search bar-->
     <!--search bar will have form function for searching site, currently not live-->
     <div class = "search-bar">
         <label for="Search bar"> Search </label>
         <input type="Search-entry-text" id = "Search-entry-text" name = "Search-entry-text"size="50" maxlength="150"/>
         <input type="submit" name="submit" value="Submit"/>

     </div>

     <div class="container">
        <form action = "" method = "POST" enctype="multipart/form-data">
            <h2>Create Listing</h2>
            <p>
                Listing Title
                <label id="requiredEntry">*</label>
                <input type = "text" id="listingName" name = "listingName" size = "60" maxlength="60" required>

                <br>
                <br>
                
                <label for="Choose Condition">Choose condition of item:</label required>
                <label id="requiredEntry">*</label>
                <select name="itemCondition" id="itemCondition">
                  <option id = "select" value="Select" alt = "Pick an option">Select</option>
                  <option value="New" alt = "Item is in new condition">New</option>
                  <option value="Like new" alt = "Item is like new and shows minimal signs of use">Like new</option>
                  <option value="Used" alt = "Item shows signs of use but is still in useable condition">Used</option>
                  <option value="Poor" alt="Item shows signs of use and may need to be in need of repair">Poor</option>
                </select>

                <br>
                <br>
                Describe the item
                <br>
                <br>
                <textarea id="conditionItem" name="conditionItem" placeholder="Write a description of the item..." style="height:200px; width:300px" maxlength="2000"></textarea>
                <br>
                <br>

                <label for="image">Choose image to upload of the item</label>
                    <input type="file" id="image" name="image1" multiple>
                <br>
                <br>
                Is there more than one unit of this item available for sale. Check if yes
                <input type = "checkbox" id="unitsAvailable" name = "unitsAvailable" onclick ="quantityFunction()">
                <br>

                             
                <br>
                Enter the total units/quantity available
                <input type="text" name="state" size="6" maxlength="4"/>

                 <br>
                 <br>
                 Enter the price that you're charging per unit             
                 <input type="text" name="state" size="6" maxlength="4"/>

                 <br>
                 <br>
                 Enter the price for shipping you'll be charging
                 <input type="text" name="state" size="6" maxlength="4"/>

                 <br>
                 <br>

                 
                 <label id="requiredEntry">* Required field</label>
                 <br>
                 <br>
                 <input type="Submit" name="Submit" value="Submit"/>

                 
            </p>


        </form>

 <footer>
    <!--Site map-->
    <h4>Site map</h4>
    <div id="site-menu">


            <table id = "site-menu">
                <tr>
                    <th scope="col"><h5>Buyers and Customers</h5></th>
                    <th scope="col"><h5>Sellers and Vendors</h5></th>
                    <th scope="col"><h5>Need help?</h5></th>
                </tr>
                <tr>
                    <td><a href="../profile">My Profile</a><br></td>
                    <td><a href="/sign-in">Login</a><br></td>
                    <td><a href="#">FAQS</a><br></td>
                </tr>
                <tr>
                    <td><a href="#">My Orders</a><br></td>
                    <td><a href="../profile">My Profile</a><br></td>
                    <td><a href="#">Contact Information</a><br></td>
                </tr>
                <tr>
                    <td><a href="#">Track my Orders</a><br></td>
                    <td><a href="#">My Sales</a><br></td>
                    <td><a href="#">Returns and Refunds</a><br></td>
                </tr>
                <tr>
                    <td><a href="#">My rewards</a><br></td>
                    <td><a href="#">Current Invoices</a><br></td>
                    <td> <a href="#">Customer Service</a><br></td>
                </tr>
                <tr>
                    <td>
                        <a href="#">My payment methods</a><br>
                        <td><a href="#">My pending payments</a><br></td>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td><a href="#">Customer messages</a><br></td>
                </tr>

            </table>

    </div>
    <!--copy right-->
    <p>&copy; 2022 DavesList.store</p>
</footer>
</html>
