<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="A Schjoneman">
        <title>DavesList | Some fancy slogan here</title>
        <link href="/static/style.css" rel="stylesheet" type="text/css">
    </head>
    <body id = "top">
        <header><img src="DaveListHeader.jpg" alt="Dave's List"></header>
 <nav>
     <!--drop down menu navigation-->
     <div class="navbar">
         <div class="DropMenu">
             <button class="MenuBtn">Menu
             </button>

         <div class="Drop-Menu">
                 <a href="/sign_in">Sign-in</a>

                 <br>
                 <a href="/profile">Edit Profile</a>
                 <br>
                 <a href="#">Check order status</a>
                 <br>
                 <a href="#">Link 1</a>


         </div>
         </div>


         <div class="DropSell">
             <button class="SellBtn">Sell
             </button>
         <div class="Drop-Sell">
             <a href="">Get started</a>
             <br>
             <a href="">Create a sale posting</a>
             <br>
             <a href="">Check your current postings</a>
         </div>
         </div>
     <!--search bar-->
     <!--search bar will have form function for searching site, currently not live-->
     <div class = "search-bar">
         <label for="Search bar"> Search </label>
         <input type="Search-entry-text" id = "Search-entry-text" name = "Search-entry-text"size="50" maxlength="150"/>
         <input type="submit" name="submit" value="Submit"/>

     </div>

 </nav>
        <div class="container">
        <form class="sign_in" action = "" method = "post">

        </form>