<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ViewListing</title>
    <title>DavesList | Some fancy slogan here</title>
    <link href="../static/style.css" rel="stylesheet" type="text/css">
</head>
<body>
            <!--menu and header go on every page-->
            <header><img src = "/static/DaveListHeader.jpg"></header>
<div class="navbar">
    <div class="DropMenu">
        <button class="MenuBtn">Menu
        </button>
        <div class="Drop-Menu">
            <a href="#">Link 1</a>
            <a href="#">Link 2</a>
            <a href="#">Link 3</a>
        </div>
    </div>

    <div class="DropSell">
        <button class="SellBtn">Sell
        </button>
        <div class="Drop-Sell">
            <a href="#">Link 3</a>
            <a href="#">Link 4</a>
            <a href="#">Link 5</a>
        </div>
    </div>

    <a href="../sign-in">Login</a>
    <a href='#'>Contact Us</a>
    <a href='#'>FAQs</a>

    <!--<label for="Search bar"> Search </label> -->
    <input list="Categories" id = "Categories" name = "Categories"/>
    <input type="submit" name="submit" value="Submit"/>
    <!--Search bar function should go in the same row as the hyperlinked pages-->
</body>
</html>